main {
  max-width: 1440px;
  margin: auto;
  padding-top: 2rem;
}

.information {
  display: grid;
  grid-template-columns: 1fr 45rem;
  gap: 3rem;
  max-width: 1440px;
}

/* section {
  padding: 0;
} */

.main-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title-info {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.title-info h3 {
  font-size: 4.5rem;
  margin: 0.3rem 0;
}

.main-info img {
  width: 100%;
  border-radius: 2rem;
}

section .title-info p {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.7rem;
}

.side-container {
  padding: 1rem;
}

.main-info .description {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 3em 0;
  border-radius: 2rem;
}

.main-info .description h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.main-info .description h4::before {
  content: "";
  display: block;
  width: 10px;
  height: 30px;
  background-color: var(--pink);
  position: relative;
  left: 0;
  top: 0;
  margin-right: 2.9rem;
}

.main-info .description p {
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 0 4rem;
}

.side-container {
  background-color: #fff;
  padding: 2.3rem;
  border-radius: 2rem;
}

.extra-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.side-container .btn {
  width: 100%;
  text-align: center;
}

.side-container h3 {
  font-size: 1.6rem;
  font-weight: 600;
}

.side-container h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

.side-container p {
  font-size: 1.2rem;
}

.side-container span {
  font-size: 3.5rem;
  margin: -0.8rem 0.3rem 0 0.3rem;
}

.side-container .price {
  display: flex;
  align-items: start;
  margin-top: 1.5rem;
}

.side-container .btn {
  font-size: 1.2rem;
}

.side-container .description {
  font-style: italic;
  margin-top: 3rem;
}

.side-container .information {
  display: flex;
  flex-direction: row;
  gap: 0;
}

.information .material-symbols-outlined {
  font-size: 2.3rem;
  height: 100%;
  margin: 0;
  padding: 0;
}

.side-container .information {
  display: flex;
  align-items: center;
  gap: 8px;
}

.side-container .question {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.add-info {
  border-radius: 1.2rem;
}

.main-info .box-container {
  display: flex;
  overflow-x: auto;
  gap: 2rem;
  padding: 0 4rem 2rem 4rem;
  flex-wrap: nowrap;
}

.main-info .box {
  min-width: 30rem;
  flex-shrink: 0;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
}

.main-info .box .images img {
  width: 100%;
  height: 20rem;
  border-radius: 2rem 2rem 0 0;
  object-fit: cover;
}

.main-info .box .content {
  height: 19rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
}

.main-info .box .content h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.main-info .box .content .btn {
  margin-top: auto;
}