* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}

nav {
}

body {
  margin: 24px;
  display: flex;

  width: 100%;
  height: 100%;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  max-width: 768px;
}

main > h2 {
  margin-top: 24px;
  margin-bottom: 12px;
}

h3 {
  text-transform: capitalize;
}

.column {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black 1px solid;
  width: 300px;
  border-radius: 10px;
  gap: 10px;
  padding: 24px 12px;
}

.container > img {
  border-radius: 10px;
}

.gambar-wisata {
  width: 240px;
  height: 180px;
  object-fit: cover;
}

.tombol-pesan {
  background-color: rgb(180, 242, 255);
}

.tombol-pesan > div {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  border: none;
  padding: 10px 0;
  border-radius: 10px;
  margin-top: 12px;
}
